/* Events style SP */

.events {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z5CtDAAE/wGPm2umRwAAAABJRU5ErkJggg==);
    width: 100%;
    text-align: center;
}

.events__subTitle {
    font-size: 30px;
}

/* Events style PC */

@media screen and (min-width: 636px) {

}