/* Events style SP */

.events {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z5CtDAAE/wGPm2umRwAAAABJRU5ErkJggg==);
    width: 100%;
    text-align: center;
    padding: 72px 30px;
}

.events__subTitle {
    font-size: 30px;
}

.events__tagWrapper{
    margin: 30px auto 0;
    max-width: 510px;
}

.events__seasonList,.events__areaList{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.events__areaList{
    margin-top: 12px;
}

.tagItem{
    border: solid 1px;
    border-radius: 400px;
    padding: 6px 18px;
}

.events__postList{
    margin-top: 30px;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* Events style PC */

@media screen and (min-width: 636px) {

}