html {

}

body {
  margin-bottom: 70px;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #080808;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
  }
}

/* Navigation style SP */

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40px;
  height: 40px;
  .line {
    height: 5px;
    background-color: black;
    align-content: flex-end
  }
}


.navLinks {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: black;
  display: none;
  margin: 0;
  a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  a:hover,
  a:focus {
    opacity: 0.5;
  }
}

.expanded {
  display: unset;
}

/* Navigation style PC */

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }
  .navLinks {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
}


/* Footer style SP */

.footer_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .footer_list {
    padding: 5px;
    border: dashed black;
    border-radius: 10px;
    a:hover {
      opacity: 0.5;
    }
  }
}

/* Footer style PC */

@media screen and (min-width: 636px) {
  .footer_wrap {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
