/* Navigation style SP */

.hamburger {
  position: fixed;
  top: 36px;
  right: 36px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-color: #080808;
  border-radius: 50%;
}

.hamburger__icon,.hamburger__icon::before,.hamburger__icon::after{
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.hamburger__icon,.hamburger__icon::before{
  width: 35px;
  height: 2px;
  border-radius: 500px;
  content: "";
  background-color: #FAF9F3;
}

.hamburger__icon{
  top: 50%;
}

.hamburger__icon::before{
  top: -8px;
}

.hamburger__icon::after{
  content: "menu";
  top: 10px;
  color: #FAF9F3;
  font-size: 12px;
}

.hamburger:hover .hamburger__icon::before{
  top: -12px;
  transition: top 0.2s ;
}

.hamburger:hover .hamburger__icon::after{
  width: 35px;
  height: 2px;
  border-radius: 500px;
  content: "";
  background-color: #FAF9F3;
  top: 14px;
  transition: all 0.2s;
}

.hamburger.expanded .hamburger__icon{
  background-color: transparent;
}

.hamburger.expanded .hamburger__icon::before{
  top: 0;
  left: 0;
  transform: rotate(-135deg);
  transition: all 0.2s ;
}

.hamburger.expanded .hamburger__icon::after{
  width: 35px;
  height: 2px;
  border-radius: 500px;
  content: "";
  background-color: #FAF9F3;
  top: 0;
  left: 0;
  transform: rotate(135deg);
  transition: all 0.2s ;
}


  .navLinks {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: black;
    display: none;
    margin: 0;
    a {
      display: block;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    a:hover,
    a:focus {
      opacity: 0.5;
    }
  }

  .expanded {
    display: unset;
  }
