/* MainVisual style SP */

.mainVisual {
    height: 517px;
    position: relative;
    width: 100%;
}

.mainVisual_title {
    align-self: flex-end;
    bottom: 10px;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.5vw;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    -webkit-text-stroke: 2px #fff; /* 文字の縁取り */
    z-index: 1;
}

@keyframes infinity-scroll-down {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }

}

.slider_container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow: hidden;
}

.mainVisual_container {
    display: flex;
    flex-direction: column-reverse;
    animation: infinity-scroll-down 35s infinite linear 0.5s both;
    /* height: 100%;
    white-space: nowrap;
    transition: transform 1s cubic-bezier(0, 0, 0.2, 1); */
}

/* .slider_container:hover .slider_container {
    animation-play-state: paused;
} */

.mainVisual_list.sp {
    display: block;
}

.mainVisual_list.pc {
    display: none;
}

.mainVisual_list {
    /* width: 100%;
    height: 100%; */
    border: 1px solid #fff;
}

.mainVisual_img {
    display: block;
    height: auto;
    /* min-height: 100%;
    min-width: 100%; */
    object-fit: cover;
    position: relative;
    /* top: 50%; */
    width: auto;
    width: 100vw;
    /* transform: translateY(-50%); */
}

/* MainVisual style PC */

@media screen and (min-width: 636px) {
    .mainVisual {
        height: 632px;
    }

    .mainVisual_title {
        font-size: 130px;
        margin-left: 40px;
    }

    .mainVisual_title__vertical {
        writing-mode: vertical-lr;
        font-size: 80px;
    }

    .mainVisual_list.sp {
        display: none;
    }

    .mainVisual_list.pc{
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .mainVisual_title {
        font-size: 150px;
    }

    .mainVisual_title__vertical {
        font-size: 100px;
    }
}

/* @media screen and (min-width: 1500px) {
    .mainVisual_img {
        transform: translateY(-60%);
    }
} */
