---
---
<!-- ここにHTML -->
<section class="bentTailsCats">
    <h2 class="subTitle">尾曲猫</h2>
</section>

<!-- styleは bentTailCats.css -->

<!-- DOM操作は carousel.js -->
<script>
    import { caloselBentTailCats } from "../scripts/carousel.js";
    caloselBentTailCats();
</script>