---
---
<!-- ここにHTML -->
<div class="hamburger">
    <span class="hamburger__icon">&nbsp</span>
</div>

<!-- styleは header.css -->

<script>
    import { hambergerToggle } from "../scripts/toggle.js";
    hambergerToggle();
</script>