---
---
<!-- ここにHTML -->
<div class="hamburger" data-headerItem="hamburger">
    <span class="hamburger__icon">&nbsp</span>
</div>

<!-- styleは header.css -->

<script>
    import { hamburgerToggle } from "../scripts/toggle.js";
    hamburgerToggle();
</script>