---
---
<!-- ここにHTML -->
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<!-- styleは global.css -->

<script>
    import { hambergerToggle } from "../scripts/toggle.js";
    hambergerToggle();
</script>