---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<!-- ここにHTML -->
<header>
  <nav>
    <Hamburger />  <!-- SP -->
    <Navigation />  <!-- PC -->
  </nav>
</header>

<!-- styleは global.css -->