---
---
<!-- ここにHTML -->
<section class="mainVisual">
    <h1 class="title">NAGASAKI CHARM</h1>
</section>

<!-- styleは mainVisual.css -->
<style>
</style>

<!-- DOM操作は carousel.js -->
<script>
    import { calouselMv } from "../scripts/carousel.js";
    calouselMv();
</script>