---
const navSections = [{
    name: "長崎グルメ",
    description: "食べ歩きスポット巡り",
    url: "#"
  },{
    name: "夜景スポット",
    description: "夜景見るならここきて！",
    url: "#"
  },{
    name: "イベント",
    description: "季節や地域ごとのイベント",
    url: "#"
  },{
    name: "長崎妖怪",
    description: "テキストテキストテキスト",
    url: "#"
  },{
    name: "尾曲ネコ",
    description: "テキストテキストテキスト",
    url: "#"
  }]
---
<!-- ここにHTML -->
<nav class="nav" data-headerItem="nav">
  <h2 class="nav__heading">Nagasaki</h2>
  <ul class = "nav__list">
    { navSections.map((navSection) =>
      <li class="nav__item"><a class ="nav__link" href={navSection.url}>{navSection.name}<span class="nav__description">{navSection.description}</span></a></li>
    )}
  </ul>
</nav>
<!-- styleは global.css -->